<label for="color">type color:</label>
<input id="color" placeholder="(red, blue, green)" class="bkg-red" title="(red, blue, green)" #inputElement [class]="cls" 
[class.border-width-thick]="isThick"
       [value]="color"
       (input)="setColor($event.target.value)" >
       <input type="checkbox" [(ngModel)]="isThick" [ngModelOptions]="{standalone: true}">
  <span [style.font-weight]="isThick ? 'bold': 'normal'">isThick<span [hidden]="!isThick">!</span></span>
       <br>{{inputElement.value}} <br> {{cls}}<br>